* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    border: 0px solid black; 
}

.colorwheel {
    float: right;
    margin-top: -55px;
    width: 300px;
    height: auto;
}

aside {
    user-select: none;
}
